$black:             #222222;
$black-medium:      #333333;
$white:             #ffffff;
$light:             #f5f5f5;
$primary:           $black-medium;
$secondary:         #999999;
$success:           #D4EDDA;
$info:              #D1ECF1;
$warning:           #FFF3CD;
$danger:            #f8d7da;
$gray:              #666666;

$modal-overlay-color:         rgba($black, .9);
$border-radius:               5px;
$border-radius-btn:           5px;
$box-shadow:                  -2px 2px .3rem 0 rgba($black, .2);

// Transitions
$trs:                         250ms;
$trs-2:                       400ms;

$body-bg:                     $white;
$body-color:                  $black;

$font-family-base:            'Roboto', sans-serif;
$font-color-base:             $black;
$font-size-base:              1rem !default; // Базовый размер шрифта

$font-weight-lighter:         lighter !default;
$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-medium:          500;
$font-weight-bold:            600;
$font-weight-bolder:          bolder !default;

$font-weight-base:            $font-weight-normal;
$line-height-base:            1.425 !default;
$emphasized-link-hover-darken-percentage: 15% !default;
$paragraph-margin-bottom:   1rem !default;

$h1-font-size:                32 !default;
$h2-font-size:                28 !default;
$h3-font-size:                24 !default;
$h4-font-size:                20 !default;
$h5-font-size:                18 !default;
$h6-font-size:                16 !default;

$link-color:                  #0f7afc !default;
$link-decoration:             none;
$link-hover-color:            lighten($link-color, $emphasized-link-hover-darken-percentage) !default;
$link-hover-decoration:       none;

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
    (
      0: 0,
      1: ($spacer * .25),
      2: ($spacer * .5),
      3: $spacer,
      4: ($spacer * 1.5),
      5: ($spacer * 3)
    ),
    $spacers
);

$sizes: () !default;
$sizes: map-merge(
    (
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto
    ),
    $sizes
);

$headings-margin-bottom:      $spacer / 2 !default;
$headings-font-family:        null !default;
$headings-font-weight:        500 !default;
$headings-line-height:        1.2 !default;
$headings-color:              null !default;

/*Scroll-bar settings*/
$fireFoxTrackColor:           rgba($primary, .1);
$fireFoxThumbColor:           $primary;

$chromeTrackColor:            rgba($primary, .1);
$chromeThumbColor:            $primary;
$chromeTrackWidth:            .5rem;

$grid-breakpoints: (
  xs: 0,
  m:  413px,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1170px,
  xxl: 1400px
);

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");

$container-max-widths: (
  m:  408px,
  sm: 540px,
  md: 740px,
  lg: 984px,
  xl: 1140px,
  xxl: 1370px
);

@include _assert-ascending($container-max-widths, "$container-max-widths");

$grid-columns:                12;
$grid-gutter-width:           30px;

/*Responsive font-size settings*/
$rfs-minimum-font-size              : 16px;
$rfs-font-size-unit                 : rem;
$rfs-breakpoint                     : 1370px;
$rfs-breakpoint-unit                : px;
$rfs-two-dimensional                : false;
$rfs-factor                         : 10;
$rfs-class                          : false;
$rfs-rem-value                      : 16;
$rfs-safari-iframe-resize-bug-fix   : false;
$enable-responsive-font-sizes       : true;
