include ../mixins/modal
include ../mixins/button
include ../mixins/form/input
include ../mixins/form/check

|
|
a(href="index.html") На главную
|
|
.typical
  .row
    .col-xl-4
      h1 Заголовок 1-ого уровня
      h2 Заголовок 2-ого уровня
      h3 Заголовок 3-его уровня
      h4 Заголовок 4-ого уровня
      h5 Заголовок 5-ого уровня
      h6 Заголовок 6-ого уровня
    .col-xl-4
      ul
        li Маркированный список
        li Маркированный список
          ul
            li Маркированный список
            li Маркированный список
            li Маркированный список
        li Маркированный список
    .col-xl-4
      ol
        li Нумерованный список
        li Нумерованный список
          ol
            li Нумерованный список
            li Нумерованный список
              ol
                li Нумерованный список
                li Нумерованный список
                li Нумерованный список
            li Нумерованный список
        li Нумерованный список
    .col-xl-4
      p <strong>Абзац</strong> рыбатекст поможет <a href="javascript:void(0)">дизайнеру</a>, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбына русском языке
      blockquote <strong>Цитата</strong> рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке
    .col-xl-8
      |
      |
      table
        tr
          td(colspan="4" class="text-center") <b>Таблица</b>
        tr.text-center
          td <b>Название</b>
          td <b>Название</b>
          td <b>Название</b>
          td <b>Название</b>
        tr.text-center
          td Значение
          td Значение
          td Значение
          td Значение
        tr.text-center
          td Значение
          td Значение
          td Значение
          td Значение
      |
      |
    .col-12.mb-5.mt-4.d-flex.justify-content-around.flex-wrap
      +button('button', 'primary', 'Primary')
      +button('button', 'secondary', 'Secondary')
      +button('button', 'success', 'Success')
      +button('button', 'info', 'Info')
      +button('button', 'warning', 'Warning')
      +button('button', 'danger', 'Danger')
      +button('submit', 'primary', 'Submit', false, false, false, true)
      +button('button', 'secondary', 'Swipe Menu',false, false, false, true, 'swipe-btn')
      +button('a', 'primary', 'Popup', 'javascript:void(0)', false, 'example')
      include ../components/common/menu
    .col-12
      include ../components/common/pagination
  hr
  br
.title.title-third
  h4 Одинаковая высота элементов
.row
  each text in ['Одинаковая высота элементов', 'Одинаковая высота элементов, одинаковая высота элементов', 'Одинаковая высота элементов']
    .col-4
      .match-height(data-match-height="test" data-match-height-enable="(min-width: 576px)" style="background-color:#ededed")= text
br
hr
br
.forms.mt-2.mb-5
  .title.title-third
    h4 Форма
  form#form-example
    +input('text', 'user_phone', false, false, 'Телефон', true, true, 'phone-mask')
    +input('textarea', 'user_message', false, false, 'Комментарий', true, true, 'user_message')
    +check('checkbox', 'politic', 'Одиночный чекбокс', 'Я согласен на обработку персональных данных и с <a href="javascript:void(0)" style="text-decoration: none;">Политикой конфиденциальности</a>', false, false, 'politic', false)
    +check('checkbox', 'check_group[]', 'Группа чекбоксов (вертикально)', false,
      ['Checkbox-1', 'Checkbox-2', 'Checkbox-3', 'Checkbox-4'], false, true, 'check_group', false)
    +check('checkbox', 'check_group_hor[]', 'Группа чекбоксов (горизонтально)', false, ['Checkbox-1', 'Checkbox-2', 'Checkbox-3', 'Checkbox-4', 'Checkbox-5'], true, true, 'check_group_hor', false)
    +check('radio', 'radio_group[]', 'Группа чекбоксов (radio)', false, ['Radio-1', 'Radio-2', 'Radio-3', 'Radio-4'], false, true, 'radio_group', false)
    .sbmt-btn
      +button('submit', 'primary', 'Отправить', false, false, false, true)
include ../components/common/scroll-button
+modal('example')
  .content Example
