doctype html

block variables
block mixins

html(lang="ru")
	include ../components/head
	body
		//Header
		include ../components/header
		//Header End
		if breadCrumbs
			// Bread crumbs
			include ../components/breadcrumbs
			// Bread crumbs END
		block content
		//Footer
		include ../components/footer
		//Footer END
		block scripts
			script(src="./js/libs/libs.min.js")

