.dev-btn {
  display: inline-flex;
  color: initial;
  font-size: $font-size-base;
  text-align: center;
  line-height: 1;
  text-decoration: none;
  padding: 1rem 2.06rem;
  cursor: pointer;
  border-radius: $border-radius-btn;
  transition: all $trs;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.dev-btn-primary {
  color: $white;
  background-color: $primary;
  border: none;
  &:hover {
    color: $white;
    background-color: lighten($primary, 5%);
  }
}

.dev-btn-secondary {
  background-color: $secondary;
  color: $white;
  a {
    color: inherit;
    text-decoration: none;
  }
  &:hover {
    background-color: darken($secondary, 10%);
    color: $white;
    a {
      color: inherit;
    }
  }
}

.dev-btn-success {
  color: $white;
  background-color: $success;
  &:hover {
    color: $white;
    background-color: lighten($success, 5%);
  }
}
