$check_size: 20px;
$radio_after: 6px;
@include formError($fz:rem(11px));
.form-field,
.form-check,
.form-check-group {
  margin-bottom: 1rem;
  position: relative;
}
.form-check-group.horizontal {
  display: flex;
  flex-wrap: wrap;
  .form-check__item {
    margin-bottom: .5rem;
    &:not(:last-child) {
      margin-right: .5rem;
    }
  }
}


.form-field {
  input, textarea {
    width: 100%;
    max-width: 100%;
    background-color: rgba($white, 0);
    border: 1px solid $border-color;
    padding: .7rem 1rem;
    &:hover {}
  }
}

.form-field input,
.form-field textarea,
.form-check__item label {
  &, &::before {
    transition: border-color $trs;
  }
  &:hover {
    &, &::before {
      border-color: darken($border-color, 15%);
    }
  }
  &:focus {
    border-color: darken($border-color, 15%);
  }
}

.form-check {}

.form-check__item {
  &:not(:last-child) {
    margin-bottom: .2rem;
  }
  input {
    position: absolute;
    left: -9999px;
    top: -9999px;
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
  }
  label:not(.error) {
    position: relative;
    padding-left: 1.7rem;
    margin-bottom: 0;
    user-select: none;
    &::after, &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      margin-top: .05rem
    }
    &::before {
      width: $check_size;
      height: $check_size;
      border: 1px solid $border-color;
    }
    &::after {
      opacity: 0;
      transition: all $trs;
    }
  }

  input[type="checkbox"]~label::after {
    border-radius: 50%;
  }

  input[type="checkbox"]~label::after {
    width: $check_size;
    height: $check_size;
    transform: rotateX(90deg);
    @include background('../img/svg/checked.svg', $size:70%);
  }

  input[type="checkbox"]~label::before {
    border-radius: 2px;
  }

  input[type="radio"]~label::before,
  input[type="radio"]~label::after {
    border-radius: 50%;
  }

  input[type="radio"]~label::after {
    width: $check_size - $radio_after;
    height: $check_size - $radio_after;
    background-color: $primary;
    transform: translate($radio_after / 2, $radio_after / 2);
  }

  input[type="checkbox"]:checked~label::after,
  input[type="radio"]:checked~label::after {
    opacity: 1;
  }

  input[type="checkbox"]:checked~label::after {
    opacity: 1;
    transform: rotateX(0);
  }

}


