$z-index: 1000;
$animation-speed: 300ms;
.modal__overlay {
	position: fixed;
	z-index: $z-index;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	background: $modal-overlay-color;
	display: flex;
	justify-content: center;
	align-items: center;
}

.overlay-blur {
	display: none;
	position: fixed;
	pointer-events: none;
	z-index: $z-index - 1;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	filter: blur(4px);
	&.active {
		display: block;
	}
}

.modal__container {
	position: relative;
	overflow-y: auto;
	min-width: 300px;
	min-height: 200px;
	max-height: 100vh;
	background-color: $white;
	border-radius: $border-radius;
	box-shadow: 0 1rem 2rem 0 rgba($black, .2);
}

.modal__close {
	position: absolute;
	right: .25rem;
	top: .25rem;
	width: 1.5rem;
	height: 1.5rem;
	cursor: pointer;
	border-radius: 50%;
	background-color: rgba($white, .2);
	svg {
		@include absoluteCenter(60%, 60%);
		transition: fill .2s;
	}
	&:hover {
		svg {
			fill: $danger;
		}
	}
}

@keyframes mmfadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes mmfadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes mmslideIn {
	from {
		transform: translateY(15%);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes mmslideOut {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-10%);
	}
}

.micromodal-slide {
	display: none;
}

.micromodal-slide.is-open {
	display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
	animation: mmfadeIn $animation-speed cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
	animation: mmslideIn $animation-speed cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
	animation: mmfadeOut $animation-speed cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
	animation: mmslideOut $animation-speed cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
	will-change: transform;
}
