.typical {
  font-family: $font-family-base;
  h1, h2, h3, h4, h5, h6 {
    font-weight: $font-weight-bold;
    letter-spacing: .025em;
    line-height: $headings-line-height;
  }
  h1 {
    @include rfs($h1-font-size)
  }
  h2 {
    @include rfs($h2-font-size)
  }
  h3 {
    @include rfs($h3-font-size)
  }
  h4 {
    @include rfs($h4-font-size)
  }
  h5 {
    @include rfs($h5-font-size)
  }
  h6 {
    @include rfs($h6-font-size);
  }
  b, strong {
    font-weight: $font-weight-bold;
  }
  ul, ol, .typical-table-wrap {
    margin-bottom: $paragraph-margin-bottom;
  }
  p, ul li, ol li, cite, blockquote {
    word-break: break-word;
  }
  p, ul li, ol li, cite, blockquote, table {
    font-size: $font-size-base;
  }
  p, cite, blockquote {
    line-height: $line-height-base;
  }
  blockquote {
    font-style: italic;
    font-weight: $font-weight-normal;
    padding-left: 1rem;
    border-left: 1px solid $secondary;
    @include media-breakpoint-down(m) {
      padding-left: 1rem;
    }
  }
  img {
    margin-bottom: 1rem;
    max-width: 100%;
  }
  a {
    color: $link-color;
    border-bottom: 1px solid rgba($link-color, .2);
    transition: all $trs;
    text-decoration: none;
    &:hover {
      color: $link-hover-color;
      border-color: rgba($link-hover-color, .2);
    }
  }
  cite {
    font-style: italic;
  }
  ul li, ol li {
    line-height: 1.3;
    margin-bottom: .5rem;
    &::before {
      display: inline-flex;
      margin-right: .4rem;
    }
    ul, ol {
      margin-top: .5rem;
      margin-bottom: .5rem;
    }
  }
  ol, ul {
    @include list-reset();
  }
  ul {
    padding-left: 1.5rem;
    li {
      &::before {
        position: relative;
        bottom: .1em;
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 50%;
        line-height: inherit;
        background-color: $secondary;
        margin-left: -.8rem;
      }
      ul {
        padding-left: .9rem;
        li {
          &::before {
            background: none;
            border: 1px solid $secondary;
          }
        }
      }
    }
  }
  ol {
    counter-reset: counter;
    padding-left: 1.5rem;
    li {
      &::before {
        color: $secondary;
        counter-increment: counter;
        content: counters(counter, ".");
        font-size: inherit;
        font-weight: $font-weight-bold;
        line-height: inherit;
        margin-left: -1rem;
      }
      ol {
        padding-left: 2rem;
        li {
          &::before {
            margin-left: -1.9rem;
          }
          ol {
            padding-left: 2.9rem;
            li{
              &::before {
                margin-left: -2.8rem;
              }
              ol {
                padding-left: 3.5rem;
                li{
                  &::before {
                    margin-left: -3.5rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .typical-table-wrap {
    overflow-x: auto;
    overflow-y: hidden;
    &::-webkit-scrollbar {
      height: rem(3px);
    }
  }
  table {
    border: none;
    width: 100%;
    td, th {
      color: $black-medium;
      font-size: $font-size-base;
      line-height: $line-height-base;
      border: 1px solid $gray-400;
      padding: 1em;
      word-break: normal;
    }
    th {
      text-align: center;
      background-color: $gray;
    }
    a {
      border-bottom: none;
      &:hover {
        color: $font-color-base;
      }
    }
  }
}
