.header, .footer {
  @include rfs(40);
  color: $secondary;
  font-weight: $font-weight-medium;
  text-align: center;
  padding: .5rem 0;
  background-color: rgba($black, .95);
  line-height: 1;
}

.header {
  border-bottom: 1px solid #555;
}

.footer {
  border-top: 1px solid #666;
}

.example {
  background-color: $light;
  padding: 1rem;
  .content {
    @include absoluteCenter();
    @include rfs(40);
    font-weight: $font-weight-bold;
  }
  .image {
    @include responsive-ratio(1, .5225, true);
    img {
      @include absoluteCenter();
    }
  }
  .match-height {
    padding: .5rem;
  }
  .forms {
    max-width: 500px;
  }
}
