.header, .footer {
  @include rfs(40);
  color: $secondary;
  font-weight: $font-weight-medium;
  text-align: center;
  padding: .5rem 0;
  background-color: rgba($black, .95);
  line-height: 1;
}

.header {
  border-bottom: 1px solid #555;
}

.footer {
  border-top: 1px solid #666;
}

.main-page {
  @include background('../img/temp-background.jpg');
  &, .container, .example, .typical {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .container {
    .example {
      background-color: $light;
      padding: 1rem;
    }
  }
  .example {
    .content {
      @include absoluteCenter();
      @include rfs(40);
      font-weight: $font-weight-bold;
    }
  }
}

.lazy-page {
  .height-block {
    height: 1500px;
  }

  .image {
    @include responsive-ratio(1, .5225, true)
  }

  img {
    @include absoluteCenter();
  }
}
