.header, .footer {
  @include rfs(40);
  color: $secondary;
  font-weight: $font-weight-medium;
  text-align: center;
  padding: .5rem 0;
  background-color: rgba($black, .95);
  line-height: 1;
}

.header {
  border-bottom: 1px solid #555;
}

.footer {
  border-top: 1px solid #666;
  a {
    color: darkgoldenrod;
  }
}

.main-page {
  @include background('../img/temp-background.jpg')
}
