doctype html

block variables
block mixins

html(lang="ru")
	include ../components/head
	body
		//Header
		include ../components/header
		//Header End
		// Bread crumbs
		include ../components/breadcrumbs
		// Bread crumbs END
		block content
		//Footer
		include ../components/footer
		//Footer END
		block scripts
			include global/scripts

