.header__items
  .header__items-item.logo
    |
    |
    a.link-wrapper(href="https://github.com/VitaliiThir/StartDev.git" target="_blank" title="Go to the my repository")
      |
      |
      img(src="./img/svg/logo.svg")
      |
      |
      span Start Dev
      |
      |
    |
    |
  .header__items-item.txt <a href="example.html">Templates</a>
