extends ../layout/default
block variables
  -
    var settings = {
    titles: [{name: 'Start Dev', path: ''}],
    styles: {
    components: [],
    pages: []
    },
    scripts: {
    plugins: [],
    components: [],
    pages: []
    },
    pageClass: 'main-page',
    breadCrumbs: false,
    container: true
    }
block mixins
block content
