mixin button(type, color, text, link, title, modal)
  if type === 'button'
    |
    |
    button(class="dev-btn dev-btn-" + color + " ripple" data-modal-open=(modal ? modal : false))= text
    |
    |
  else if type === 'a'
    |
    |
    a(href=(link ? link : 'javascript:void(0)') class="dev-btn dev-btn-" + color + " ripple" title=(title ? title : false))= text
    |
    |
