.bread-crumbs.mb-3
  .scroll-wrapper
    .scroll-wrapper__item
      .bread-crumbs-list
        ul
          each title, i in titles
            if i <= 0
              li
                |
                |
                a(href="common.js.html") Главная
                |
                |
            else if i > 0 && i < titles.length - 1
              li
                |
                |
                a(href="#")= title
                |
                |
            else
              li <span>#{title}</span>
  .title.title-first.page-title
    h1= titles[titles.length - 1]
