//Page navigation
.page-nav
  |
  |
  a.prev(href="#") предыдущая
  |
  |
  .page-nav-number-wrap
    |
    |
    span.number.selected 1
    |
    |
    span.number
      a(href="#") 2
    |
    |
    span.number
      a(href="#") 3
    |
    |
  |
  |
  a.next(href="#") следующая
  |
  |
//Page navigation  END
