//Page navigation
.page-nav
  |
  |
  a.prev(href="javascript:void(0)") предыдущая
  |
  |
  .page-nav-number-wrap
    |
    |
    span.number.selected 1
    |
    |
    span.number
      a(href="javascript:void(0)") 2
    |
    |
    span.number
      a(href="javascript:void(0)") 3
    |
    |
  |
  |
  a.next(href="javascript:void(0)") следующая
  |
  |
//Page navigation  END
