extends ../layout/default
block variables
  -
    var titles = [
    {
    name: 'Lazy',
    path: 'lazy.html'
    }
    ];
  - var breadCrumbs = false;
block mixins
  include ../mixins/index
  include ../mixins/button
block content
  main.lazy-page
    .container
      a(href="#anchor") Ссылка до блока
      .height-block
        .row
          each text in ['Сожмите высоту этого элемента другими элементами, которые имеют то же имя', 'Сотмите высоту этого элемента', 'Сожмите высоту этого элемента другими элементами, которые']
            .col-4
              .match-height(data-match-height="test" data-match-height-enable="(min-width: 576px)" style="background-color:#ededed")= text
        .phone-mask-test.mt-5
          |
          |
          input.phone-mask(type="text")
          input.phone-mask(type="text")
          |
          |
        .typical.mt-4
          table
            tr
              th Заголовок
              th Заголовок
              th Заголовок
            tr
              td значение
              td значение
              td значение
          br
          table
            tr
              th Заголовок
              th Заголовок
              th Заголовок
            tr
              td значение
              td значение
              td значение
        .swipe-btn
          +button('button', 'primary', 'Swipe Menu')
        include ../components/menu
      .row#anchor
        each src in ['1.jpg', '2.jpg', '3.jpg', '4.jpg', '5.png', '6.png', '7.png', '8.png', '9.png']
          .col-4
            .image
              |
              |
              img.lazy(data-src="./img/lazy/" + src)
              |
              |
  include ../components/scroll-button
block append scripts
  script(src="./js/common.min.js")
