.page-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  @include mx-auto;
  margin-top: rem(20px);
  margin-bottom: rem(32px);
  a {
    text-decoration: none;
    border-bottom: none;
    color: $gray-600;
    font-size: 1rem;
    line-height: 1;
    transition: color $trs;
    &:hover {
      color: $link-hover-color;
    }
  }
  .prev span, .next span {
    position: relative;
    display: inline-flex;
    &:active {
      color: darken($link-color, $emphasized-link-hover-darken-percentage);
    }
    &::after {
      position: absolute;
      content: '';
      width: 1.2rem;
      height: 1rem;
      @include background('../img/svg/arrow-link.svg', $size: contain);
      transition: transform $trs;
    }
    @include media-breakpoint-down(m) {
      font-size: rem(12px);
      &::after {
        display: none;
      }
    }
  }
  .prev {
    margin-right: .8rem;
    span::after {
      right: 100%;
      transform: rotateY(-180deg);
      margin-right: .5rem;
    }
    span:hover {
      &::after {
        transform: rotateY(-180deg) translateX(15%);
      }
    }
  }
  .next {
    margin-left: .8rem;
    span::after {
      left: 100%;
      margin-left: .5rem;
    }
    span:hover {
      &::after {
        transform: translateX(15%);
      }
    }
  }
  &-number-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .number {
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(42px);
      height: rem(42px);
      a {
        transform: translateY(1px);
      }
      &.selected {
        border-radius: 50%;
        background-color: $gray-300;
        a {
          font-size: inherit;
        }
      }
      @include media-breakpoint-down(m) {
        width: 2rem;
        height: 2rem;
        a {
          font-size: $font-size-base !important;
        }
      }
    }
  }
  &.arrows {
    .prev, .next {
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(42px);
      height: rem(42px);
      border-radius: 50%;
      border: 1px solid $gray-300;
      transition: border-color $trs;
      svg {
        fill: $secondary;
        max-width: 40%;
        max-height: 40%;
        transition: fill $trs;
      }
      &:hover {
        border-color: darken($secondary, 15%);
        svg {
          fill: darken($secondary, 15%);
        }
      }
      @include media-breakpoint-down(m) {
        width: 2rem;
        height: 2rem;
        a {
          font-size: $font-size-base !important;
        }
      }
    }
    .next {
      svg {
        transform: rotate(-180deg);
      }
    }
  }
}
