@import "helpers/share";

.example {
  background-color: $light;
  padding: 1rem;
  .content {
    @include absoluteCenter();
    @include rfs(40);
    font-weight: $font-weight-bold;
  }
  .image {
    @include responsive-ratio(1, .5225, true);
    img {
      @include absoluteCenter();
    }
  }
  .match-height {
    padding: .5rem;
  }
  .forms {
    max-width: 500px;
    padding: 1rem;
    border: 1px solid $gray;
    background-color: $white;
    .sbmt-btn {
      display: flex;
      justify-content: flex-end;
    }
  }
}
