-
  const data = {
  projectName: 'Web Development',
  themeColor: '#333333'
  }

head
  meta(charset="utf-8")
  meta(http-equiv="x-ua-compatible" content="ie=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(name="application-name" content=""+data.projectName)
  meta(name="msapplication-TileColor" content=""+data.themeColor)
  meta(name="theme-color" content=""+data.themeColor)
  meta(content="telephone=no", name="format-detection")
  meta(name="description" content="")
  meta(content="", name="keywords")
  title #{titles[titles.length - 1].name}
  //Favicon
  block favicon
    link(rel="apple-touch-icon" sizes="180x180" href="./img/favicon/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="./img/favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="./img/favicon/favicon-16x16.png")
    link(rel="manifest" href="./img/favicon/site.webmanifest")
  //Styles
  block styles
    link(rel="stylesheet" href="./css/common.css")
