doctype html

include ../mixins/index
include ../templates/head
block variables
block mixins

html(lang="ru")
  +head('WebDevelopment', '#333333')
  body
    //Header
    include ../components/common/header
    //Header End
    if settings.breadCrumbs
      // Bread crumbs
      include ../components/common/breadcrumbs
      // Bread crumbs END
    .sidebar
      .container
        .row.no-gutters
          .col-lg-3
            aside.aside
              block aside-content
          .col-lg-9
            main(class="" + settings.pageClass)
              block content
    //Footer
    include ../components/common/footer
    //Footer END
    block scripts
      +scripts(settings.scripts)
